

.container-hm {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Impede que a tela inteira crie barras de rolagem */
    box-sizing: border-box;
}

.box-hm {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1;          /* Ocupa todo o resto do espaço abaixo da Navbar */
    height: calc(100vh - 80px); /* Ajuste os '80px' para a altura exata da sua Navbar */
    overflow: hidden; /* Garante que nada vaze para fora desse bloco */
    padding: 0 70px 0px 70px;    /* Seus espaçamentos atuais */
}

.column-hm {
    flex: 1;
    height: 100%;       /* Ocupa toda a altura do box-hm */
    overflow-y: auto;   /* Habilita o scroll vertical apenas aqui dentro! */
    padding-right: 20px; /* Um espacinho para o conteúdo não colar na sidebar */

    /* --- MÁGICA PARA ESCONDER A BARRA DE ROLAGEM --- */
    scrollbar-width: none;            /* Esconde no Firefox */
    -ms-overflow-style: none;         /* Esconde no IE/Edge */
}

/* Esconde a barra de rolagem no Chrome, Safari e Opera */
.column-hm::-webkit-scrollbar {
    display: none;
}

/* Container azul das Próximas Consultas */
.row-consultation-hm {
    background-color: #EAF9FF;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    gap: 10px;
    margin-bottom: 20px;
}

.carousel-cards {
    display: flex;
    gap: 15px;
    width: 100%;
    
}

.carousel-arrow {
    background: none;
    border: none;
    font-size: 2rem;
    color: #FF4F6C;
    cursor: pointer;
    padding: 0 5px;
}

.history-list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}